* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    height: 100vh;
}

main{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

header {  
    background-color: rgb(101 92 56);
    color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-left {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

    li a {
        float: left;
        padding: 50px 30px;
        color: white;
        text-decoration: none;
        font-size: 120%;
    }

        li a:hover:not(.active) {
            background-color: #fbbb5b;
        }

.active {
    background-color: #bdb49a;
}

div {
    padding: 10px;
}

img {
    height: 200px;
    width: 250px;
    padding: 10px;
    flex: 1 auto;
}

.gallery {
    background-color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
}

.parent {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}